/*---Reset CSS---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root{
    --bodyBackground: hsl(216, 12%, 8%);
    ---containerBackground: hsl(213, 19%, 18%);
    --title: hsl(0, 0%, 100%);
    --buttonCircle: hsl(217, 20%, 30%);
    --paragraph: hsl(216, 12%, 54%);
    --callToAction: hsl(25, 97%, 53%);
}



body{
    font-family: 'Overpass', sans-serif;
    background-color: var(--bodyBackground);
    color: white;
    padding: 0 4%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container{
    margin: 0 auto;
    background-color: var(---containerBackground);
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    height: 320px;
    display: block;
    
}

h2{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 4%;
}

.circle-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--buttonCircle);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
}

.star-icon{
  width: 40%;
  height: 40%;
}

p{
  color: var(--paragraph);
  font-size: 1rem;
  margin-bottom: 8%;
}

.principal-btn{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
}
.circle-button{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  color: var(--paragraph);
  background-color: var(--buttonCircle);
  font-size: 1rem;
}

.circle-button:hover{
  background-color: var(--callToAction);
  color: var(--title);
}

.circle-button:focus{
  background-color: var(--paragraph);
  color: var(--title);
}

.subm-btn{
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 1rem;
  height: 45px;
  margin: 0 auto;
  border: none;
  width: 100%;
  border-radius: 50px;
  background-color: var(--callToAction);
  color: var(--title);
}

.subm-btn:hover{
  background-color: var(--title);
  color: var(--callToAction);
}

/*---Thank you Section ---*/

.hidden-container{
  margin: 0 auto;
  background-color: var(---containerBackground);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  height: 320px;
  display: none;
 
}

.choice {
  background-color: var(--buttonCircle);
  color: var(--callToAction);
  width: 70%;
  margin: 8% auto 8% auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

#answer{
  font-size: 1rem;
  margin: 0 0.2rem 0 0.2rem;


}